h1 {
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
}

th {
    cursor: pointer;
}

td.detailsColumn {
    -webkit-padding-start: 2em;
    text-align: end;
    white-space: nowrap;
}

a.icon {
    -webkit-padding-start: 1.5em;
    text-decoration: none;
}

a.icon:hover {
    text-decoration: underline;
}

a.file {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAABnRSTlMAAAAAAABupgeRAAABHUlEQVR42o2RMW7DIBiF3498iHRJD5JKHurL+CRVBp+i2T16tTynF2gO0KSb5ZrBBl4HHDBuK/WXACH4eO9/CAAAbdvijzLGNE1TVZXfZuHg6XCAQESAZXbOKaXO57eiKG6ft9PrKQIkCQqFoIiQFBGlFIB5nvM8t9aOX2Nd18oDzjnPgCDpn/BH4zh2XZdlWVmWiUK4IgCBoFMUz9eP6zRN75cLgEQhcmTQIbl72O0f9865qLAAsURAAgKBJKEtgLXWvyjLuFsThCSstb8rBCaAQhDYWgIZ7myM+TUBjDHrHlZcbMYYk34cN0YSLcgS+wL0fe9TXDMbY33fR2AYBvyQ8L0Gk8MwREBrTfKe4TpTzwhArXWi8HI84h/1DfwI5mhxJamFAAAAAElFTkSuQmCC ") left top no-repeat;
}

a.dir {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAd5JREFUeNqMU79rFUEQ/vbuodFEEkzAImBpkUabFP4ldpaJhZXYm/RiZWsv/hkWFglBUyTIgyAIIfgIRjHv3r39MePM7N3LcbxAFvZ2b2bn22/mm3XMjF+HL3YW7q28YSIw8mBKoBihhhgCsoORot9d3/ywg3YowMXwNde/PzGnk2vn6PitrT+/PGeNaecg4+qNY3D43vy16A5wDDd4Aqg/ngmrjl/GoN0U5V1QquHQG3q+TPDVhVwyBffcmQGJmSVfyZk7R3SngI4JKfwDJ2+05zIg8gbiereTZRHhJ5KCMOwDFLjhoBTn2g0ghagfKeIYJDPFyibJVBtTREwq60SpYvh5++PpwatHsxSm9QRLSQpEVSd7/TYJUb49TX7gztpjjEffnoVw66+Ytovs14Yp7HaKmUXeX9rKUoMoLNW3srqI5fWn8JejrVkK0QcrkFLOgS39yoKUQe292WJ1guUHG8K2o8K00oO1BTvXoW4yasclUTgZYJY9aFNfAThX5CZRmczAV52oAPoupHhWRIUUAOoyUIlYVaAa/VbLbyiZUiyFbjQFNwiZQSGl4IDy9sO5Wrty0QLKhdZPxmgGcDo8ejn+c/6eiK9poz15Kw7Dr/vN/z6W7q++091/AQYA5mZ8GYJ9K0AAAAAASUVORK5CYII= ") left top no-repeat;
}

a.up {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmlJREFUeNpsU0toU0EUPfPysx/tTxuDH9SCWhUDooIbd7oRUUTMouqi2iIoCO6lceHWhegy4EJFinWjrlQUpVm0IIoFpVDEIthm0dpikpf3ZuZ6Z94nrXhhMjM3c8895977BBHB2PznK8WPtDgyWH5q77cPH8PpdXuhpQT4ifR9u5sfJb1bmw6VivahATDrxcRZ2njfoaMv+2j7mLDn93MPiNRMvGbL18L9IpF8h9/TN+EYkMffSiOXJ5+hkD+PdqcLpICWHOHc2CC+LEyA/K+cKQMnlQHJX8wqYG3MAJy88Wa4OLDvEqAEOpJd0LxHIMdHBziowSwVlF8D6QaicK01krw/JynwcKoEwZczewroTvZirlKJs5CqQ5CG8pb57FnJUA0LYCXMX5fibd+p8LWDDemcPZbzQyjvH+Ki1TlIciElA7ghwLKV4kRZstt2sANWRjYTAGzuP2hXZFpJ/GsxgGJ0ox1aoFWsDXyyxqCs26+ydmagFN/rRjymJ1898bzGzmQE0HCZpmk5A0RFIv8Pn0WYPsiu6t/Rsj6PauVTwffTSzGAGZhUG2F06hEc9ibS7OPMNp6ErYFlKavo7MkhmTqCxZ/jwzGA9Hx82H2BZSw1NTN9Gx8ycHkajU/7M+jInsDC7DiaEmo1bNl1AMr9ASFgqVu9MCTIzoGUimXVAnnaN0PdBBDCCYbEtMk6wkpQwIG0sn0PQIUF4GsTwLSIFKNqF6DVrQq+IWVrQDxAYQC/1SsYOI4pOxKZrfifiUSbDUisif7XlpGIPufXd/uvdvZm760M0no1FZcnrzUdjw7au3vu/BVgAFLXeuTxhTXVAAAAAElFTkSuQmCC ") left top no-repeat;
}

div.headerBg {
    background-image: linear-gradient(to bottom, #71BA51 0, #00B16A 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF71BA51', endColorstr='#FF00B16A', GradientType=0);
    color: #fff;
    box-sizing: border-box;
    min-height: 100%;
}

div.headerBg h1 {
    border: 1px solid transparent;
}

div.headerBg .btn-back-home {
    margin-left: 1.618rem;
    background: 0 0;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    transition: background .2s ease-in-out;
    font-family: 'Open Sans';
}

div.headerBg .bg-info {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #3c763d;
}

div.headerBg .bg-info p {
    font-size: 16px;
    margin: 5px;
}

/* 跟项目样式*/
#home .headerBg {
    background: repeat-x #3D8EB9;
    background-image: linear-gradient(to bottom, #4ECDC4 0, #19B5FE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4ECDC4', endColorstr='#FF19B5FE', GradientType=0);
    color: #fff;
}

.link.-download {
    background: #34495e;
    transition: background .2s ease-in-out;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
    padding: 1.618rem 1rem;
}

.card-block.-feature {
    background-color: transparent;
    border-color: transparent;
}

.card-block {
    padding: 1.25rem;
}

.card {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
}

.folder .card {
    padding: 0;
    margin-bottom: 1rem;
}

.folder .card a {
    background: #8a6d3b;
    transition: background .2s ease-in-out;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    text-shadow: 0px 0px 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 24px;
}

.forkme {
    position: fixed;
    right: -60px;
    bottom: 50px;
    z-index: 10;
    line-height: 30px;
    text-align: center;
    width: 250px;
    font-size: 16px;
    text-decoration: none;
    color: #f5f5f5 !important;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    font-weight: bold;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    border-collapse: separate;
    border: 1px solid #000;
    background-color: #363644;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#4c5b63), to(#363644));
    background-image: -webkit-radial-gradient(circle, #4c5b63, #363644);
    background-image: -moz-radial-gradient(circle, #4c5b63, #363644);
    background-image: -ms-radial-gradient(circle, #4c5b63, #363644);
    background-image: -o-radial-gradient(circle, #4c5b63, #363644);
    background-repeat: no-repeat;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    margin: -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.forkme:hover {
    text-decoration: none;
    background-color: #4d4d60;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#627680), to(#4d4d60));
    background-image: -webkit-radial-gradient(circle, #627680, #4d4d60);
    background-image: -moz-radial-gradient(circle, #627680, #4d4d60);
    background-image: -ms-radial-gradient(circle, #627680, #4d4d60);
    background-image: -o-radial-gradient(circle, #627680, #4d4d60);
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    border-collapse: separate
}