html {
    overflow: auto;
    background-color: #fff;
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #4d4e53;
    background-color: #008d7c;
}

div.headerBg .panel-footer .indexs {
    padding: 0;
    margin: 0;
}

div.headerBg .panel-footer .indexs li {
    padding: 0;
    margin: 0;
}

div.headerBg .panel-footer .indexs li a {
    padding: 3px 10px;
    margin: 3px;
    border-radius: 5px;
}

a, a:visited, a:active {
    color: #0095dd;
    text-decoration: none;
}

.noExports {
    background-color: #6f5499 !important;
    color: #fff !important;
}

.indexs .noExports:hover {
    background-color: #fff !important;
    color: #6f5499 !important;
}

.exports {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}

.indexs .exports:hover {
    color: #d9534f !important;
    background-color: #fff !important;
    border-color: #d43f3a !important;
}

.articleList {
    margin: 20px 0;
    padding: 10px;
}

div.headerBg {
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    min-height: 100%;
}

div.headerBg .panel-body h3 {
    color: #3C763D;
}

.paramPanel {
    margin: 20px 0;
    color: #000000;
}

.paramDecs {
    width: 100%;
    padding: 10px !important;
    background: #3c763d;
    margin: 0;
    display: inline-table;
    overflow: auto;
    color: #fff;
}

.nav-tabs li a {
    color: #eee;
    border-radius: 0 !important;
}

.nav-tabs li a:hover {
    color: #555;
    border-radius: 0 !important;
}

div.headerBg .panel-footer {
    display: inline-block;
    width: 100%;
}

.site-header {
    position: relative;
    margin-bottom: 40px;
}

.site-header .form-group {
    position: relative;
    margin-top: 40px;
}

.site-header .search {
    border: 2px solid #27AE60;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 0;
    height: auto;
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.fa {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #eee;
    font-size: 24px;
    cursor: pointer;
    text-rendering: auto;
}

#back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: #f5f5f5;
    color: rgba(39, 174, 96, 0.6);
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    display: none;
}

#back-to-top i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 10px;
    left: 10px;
    color: rgba(39, 174, 96, 0.6);
}

div.headerBg h1 {
    border: 1px solid transparent;
}

div.headerBg .bg-info {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #3c763d;
}

.forkme {
    position: fixed;
    right: -60px;
    bottom: 50px;
    z-index: 10;
    line-height: 30px;
    text-align: center;
    width: 250px;
    font-size: 16px;
    text-decoration: none;
    color: #f5f5f5 !important;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    font-weight: bold;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    border-collapse: separate;
    border: 1px solid #000;
    background-color: #363644;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#4c5b63), to(#363644));
    background-image: -webkit-radial-gradient(circle, #4c5b63, #363644);
    background-image: -moz-radial-gradient(circle, #4c5b63, #363644);
    background-image: -ms-radial-gradient(circle, #4c5b63, #363644);
    background-image: -o-radial-gradient(circle, #4c5b63, #363644);
    background-repeat: no-repeat;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    margin: -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.forkme:hover {
    text-decoration: none;
    background-color: #4d4d60;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#627680), to(#4d4d60));
    background-image: -webkit-radial-gradient(circle, #627680, #4d4d60);
    background-image: -moz-radial-gradient(circle, #627680, #4d4d60);
    background-image: -ms-radial-gradient(circle, #627680, #4d4d60);
    background-image: -o-radial-gradient(circle, #627680, #4d4d60);
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -ms-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    -o-box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    box-shadow: 0 1px 3px rgba(54, 54, 68, 0.8), inset 0 -1px 3px rgba(246, 247, 248, 0.5);
    border-collapse: separate
}

div.headerBg .bg-info p {
    font-size: 16px;
    margin: 5px;
}

div.headerBg .btn-back-home {
    background: #fff;
    color: #373a3c;
    border: 3px solid #fff;
    border-radius: 0;
    transition: background .2s ease-in-out, border-color .2s ease-in-out;
}

div.headerBg .btn-back-roothome {
    margin-left: 1.618rem;
    background: 0 0;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    transition: background .2s ease-in-out;
    font-family: 'Open Sans';
}

a:hover {
    text-decoration: underline;
}

header {
    display: block;
    padding: 0px 4px;
}

tt, code, kbd, samp {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-description:empty {
    margin: 0;
}

#main {
    float: left;
    width: 70%;
}

article dl {
    margin-bottom: 40px;
}

section {
    display: block;
    background-color: #fff;
    padding: 12px 24px;
    border-bottom: 1px solid #ccc;
    margin-right: 30px;
}

.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

nav {
    display: block;
    float: right;
    margin-top: 28px;
    width: 30%;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    padding-left: 16px;
}

nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul a, nav ul a:visited, nav ul a:active {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    line-height: 18px;
    color: #4D4E53;
}

nav h3 {
    margin-top: 12px;
}

nav li {
    margin-top: 6px;
}

footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

h1, h2, h3, h4 {
    font-weight: 200;
    margin: 0;
}

h1 {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    letter-spacing: -2px;
    margin: 12px 24px 20px;
}

h2, h3 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 12px;
}

h4 {
    font-size: 18px;
    letter-spacing: -0.33px;
    margin-bottom: 12px;
    color: #4d4e53;
}

h5, .container-overview .subsection-title {
    font-size: 120%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 8px 0 3px 0;
}

h6 {
    font-size: 100%;
    letter-spacing: -0.01em;
    margin: 6px 0 3px 0;
    font-style: italic;
}

.ancestors {
    color: #999;
}

.ancestors a {
    color: #999 !important;
    text-decoration: none;
}

.clear {
    clear: both;
}

.important {
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.name, .signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.details {
    margin-top: 14px;
    border-left: 2px solid #DDD;
}

.details dt {
    width: 120px;
    float: left;
    padding-left: 10px;
    padding-top: 6px;
}

.details dd {
    margin-left: 70px;
}

.details ul {
    margin: 0;
}

.details ul {
    list-style-type: none;
}

.details li {
    margin-left: 30px;
    padding-top: 6px;
}

.details pre.prettyprint {
    margin: 0
}

.details .object-value {
    padding-top: 0;
}

.description {
    margin-bottom: 1em;
    margin-top: 1em;
}

.code-caption {
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code {
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #4D4E53;
}

.prettyprint code span.line {
    display: inline-block;
}

.prettyprint.linenums {
    padding-left: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prettyprint.linenums ol {
    padding-left: 0;
}

.prettyprint.linenums li {
    border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
    background-color: lightyellow;
}

.prettyprint.linenums li * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.params, .props {
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

.params th {
    color: #31708f !important;
}

.params .name, .props .name, .name code {
    color: #4D4E53;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 100%;
}

.params td, .params th, .props td, .props th {
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

.params thead tr, .props thead tr {
    background-color: #ddd;
    font-weight: bold;
}

.params .params thead tr, .props .props thead tr {
    background-color: #fff;
    font-weight: bold;
}

.params th, .props th {
    border-right: 1px solid #aaa;
}

.params thead .last, .props thead .last {
    border-right: 1px solid #ddd;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.disabled {
    color: #454545;
}