<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>jsdoc-zero</title>
    <link rel="stylesheet" href="{{staticLoadRelativePath}}/jsdoc_static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{staticLoadRelativePath}}/jsdoc_static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{staticLoadRelativePath}}/jsdoc_static/prettify.min.css">
    <link rel="stylesheet" href="{{staticLoadRelativePath}}/jsdoc_static/api/base.css">
</head>
<body>
<input id="staticLoadRelativePath" type="hidden" value="{{staticLoadRelativePath}}">
<div class="jumbotron headerBg">
    <div class="container">
        <div class="page-header">
            <h1>JSDOC-ZERO
                <small>
                    <a class="btn btn-primary btn-lg btn-back-home" href="./index.html" role="button">返回目录</a>
                    <a class="btn btn-primary btn-lg btn-back-roothome" href="{{staticLoadRelativePath}}/index.html"
                       role="button">返回根目录</a>
                </small>
            </h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="bg-info">
                    <p>源文件名：<code>{{fileNameObject.fileHasExtname}}</code></p>
                    <p>源文件路径：<kbd>{{sourceProjectPath}}</kbd></p>
                    <p>生成文件名：<code>{{fileNameObject.generateFile}}</code></p>
                    <p>生成文件路径：<kbd>{{generateProjectPath}}</kbd></p>
                </div>

            </div>
            <div class="panel-body">
                <h3 class="panel-title">锚点：</h3>

            </div>
            <div class="panel-footer">
                <ul class="indexs nav navbar-nav navbar-left">
                    {% for key, val in content %}
                    {% if !val.ignore %}
                    <li>
                        <a href="#{{val.line}}_{{val.codeStart}}"
                           class="{% if val.ctx.receiver %} exports {% else %} noExports {% endif %}">
                            {{val.ctx.name|default('没有名称')}}
                        </a>
                    </li>
                    {%endif%}
                    {%endfor%}
                </ul>
            </div>
        </div>
        <h3></h3>
    </div>
</div>
<header class="site-header jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12"><h1>搜索</h1>
                <p>在整体项目的生成注释文档中，根据方法名称搜索相关内容：</p>
                <div class="form-group"><input type="text" class="form-control search clearable"
                                               placeholder="输入注释的方法名称，例如：contentDisposition"> <i
                        class="fa glyphicon glyphicon-search" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
</header>

<div id="all-packages">
    <div class="container">
        <div class="list-group packages">
        </div>
    </div>
</div>
<section class="container">
    {% for key, val in content %}
    {% if !val.ignore %}
    <article class="row articleList {% if val.ctx.receiver %} exports {% else %} noExports {% endif %}"
             id="{{val.line}}_{{val.codeStart}}">
        <h3>注释名称:
            {{val.ctx.name|default('没有名称')}}</h3>


        <div class="col-md-12">

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home_{{val.line}}_{{val.codeStart}}_{{key}}" aria-controls="home"
                       role="tab" data-toggle="tab">描述：</a>
                </li>
                <li role="presentation">
                    <a href="#profile_{{val.line}}_{{val.codeStart}}_{{key}}" aria-controls="profile"
                       role="tab" data-toggle="tab">类别</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active"
                     id="home_{{val.line}}_{{val.codeStart}}_{{key}}">
                    {% autoescape false %}
                    <pre class="prettyprint paramDecs">
                                {{ val.description.full }}
                            </pre>
                    {% endautoescape %}
                </div>
                <div role="tabpanel" class="tab-pane"
                     id="profile_{{val.line}}_{{val.codeStart}}_{{key}}">
                    <table class="table params">
                        <thead>
                        <tr>
                            {% if val.ctx.type %}
                            <th>type</th>
                            {% endif %}
                            <th>isClass</th>
                            <th>isPrivate</th>
                            <th>isEvent</th>
                            <th class="last">isConstructor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% if val.ctx.type %}
                            <td>{{val.ctx.type}}</td>
                            {% endif %}
                            <td>{{val.isClass}}</td>
                            <td>{{val.isPrivate}}</td>
                            <td>{{val.isEvent}}</td>
                            <td class="last">{{val.isConstructor}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            {% if val.tags.length > 0 %}
            <div class="panel panel-default paramPanel">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>参数</th>
                            <th>描述</th>
                            <th>类型</th>
                            <th>类型描述</th>
                            <th>optional</th>
                            <th>nullable</th>
                            <th>nonNullable</th>
                            <th class="last">variable</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, val_tag in val.tags|reverse %}
                        {% if val_tag %}
                        <tr>
                            <td>{{val_tag.type}}</td>
                            <td>{{val_tag.string}}</td>
                            <td>{{val_tag.types|join(',')}}</td>
                            {% autoescape false %}
                            <td>{{val_tag.typesDescription}}</td>
                            {% endautoescape %}
                            <td>{{val_tag.optional}}</td>
                            <td>{{val_tag.nullable}}</td>
                            <td>{{val_tag.nonNullable}}</td>
                            <td class="last">{{val_tag.variable}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}


            <dl class="details"
                style="background: #f5f5f5;margin: 14px 0 0 0;padding: 3px 10px;color: #607D8B;">
                <span>注释位置（link）：{{val.line}}，源码位置（link）： {{val.codeStart}}</span>
            </dl>
        </div>
    </article>
    {% endif %}
    {% endfor %}
</section>
<a href="#" id="back-to-top" style="display: inline;"><i class="fa glyphicon glyphicon-chevron-up"></i></a>
<br class="clear">
<footer>
    <a class="forkme" href="https://github.com/kahn1990/jsdoc-zero">Fork me on GitHub</a>
</footer>
<script type="application/javascript" src="{{staticLoadRelativePath}}/jsdoc_static/jquery.min.js"></script>
<script type="application/javascript" src="{{staticLoadRelativePath}}/jsdoc_static/prettify.min.js"></script>
<script type="application/javascript"
        src="{{staticLoadRelativePath}}/jsdoc_static/bootstrap/js/bootstrap.min.js"></script>
<script type="application/javascript" src="{{staticLoadRelativePath}}/jsdocList.js"></script>
<script type="application/javascript" src="{{staticLoadRelativePath}}/jsdoc_static/api/base.js"></script>
</body>
</html>