<!doctype html>
<head>
    <meta charset="utf-8">
    <title>索引</title>
    <link rel="stylesheet" href="{{staticLoadRelativePath}}/jsdoc_static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{staticLoadRelativePath}}/jsdoc_static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{staticLoadRelativePath}}/jsdoc_static/prettify.min.css">
    <link rel="stylesheet" href="{{staticLoadRelativePath}}/jsdoc_static/list/base.css">

</head>
<body>
<div class="jumbotron headerBg">
    <div class="container">
        <div class="page-header">
            <h1>{{fileName}}
                <small>&nbsp;<a class="btn btn-primary btn-lg btn-back-home" href="{{staticLoadRelativePath}}/index.html" role="button">返回根目录</a></small>
            </h1>
        </div>
        <div class="bg-info">
            <p>源文件目录：<code>{{sourceProjectPath}}</code></p>
            <p>生成文件目录：<kbd>{{generateProjectPath}}</kbd></p>
        </div>
    </div>
</div>
<div class="container bs-docs-container">

    <div class="row">

        <table class="col-md-12 table table-striped" role="main">
            <tbody id="tbody">
            <tr class="info">
                <td>
                    <a class="icon up" href="../index.html">[上级目录]</a>
                </td>
            </tr>
            {% for key, val in content.dirList %}
            <tr class="warning">
                <td>
                    <a class="icon dir" href="./{{val}}/index.html">{{ val }}</a>
                </td>
            </tr>
            {% endfor %}
            {% for key, val in content.linkList %}
            <tr class="danger">
                <td>
                    <a class="icon file" href="./{{val.generateFile}}">{{ val.fileHasExtname }}</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<footer>
    <a class="forkme" href="https://github.com/kahn1990/jsdoc-zero">Fork me on GitHub</a>
</footer>
<script type="application/javascript" src="{{staticLoadRelativePath}}/jsdoc_static/jquery.min.js"></script>
<script type="application/javascript" src="{{staticLoadRelativePath}}/jsdoc_static/prettify.min.js"></script>
<script type="application/javascript" src="{{staticLoadRelativePath}}/jsdoc_static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>










